In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\srush\OneDrive\Documents\rawdata.csv')

In [3]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,10-12-2024 00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,13-10-2024 00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,03-05-2024 00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0
3,SM_100003,X,text,Politics,ur,US,04-08-2024 00:00,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1
4,SM_100004,YouTube Shorts,text,Education,es,US,28-03-2024 00:00,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1

In [4]:
df.isnull()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
df.isnull().sum()

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
sentiment_score    0
is_viral           0
dtype: int64

In [8]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.isnull().sum()

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
sentiment_score    0
is_viral           0
dtype: int64

In [11]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,10-12-2024 00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,13-10-2024 00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,03-05-2024 00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0
3,SM_100003,X,text,Politics,ur,US,04-08-2024 00:00,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1
4,SM_100004,YouTube Shorts,text,Education,es,US,28-03-2024 00:00,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1

In [14]:
df = df.drop_duplicates(subset='post_id')

In [16]:
text_cols = ['platform', 'content_type', 'topic', 'language', 'region']

for col in text_cols:
    df[col] = df[col].str.strip().str.lower()

In [17]:
df['post_datetime'] = pd.to_datetime(df['post_datetime'], errors='coerce', dayfirst=True)

df = df.dropna(subset=['post_datetime'])

In [19]:
df["post_year"] = df["post_datetime"].dt.year 
df["post_month"] = df["post_datetime"].dt.month
df["post_day"] = df["post_datetime"].dt.day
df['post_hour'] = df['post_datetime'].dt.hour

In [20]:
df["hashtag"] = df["hashtags"].fillna('').str.lower()

df['hashtag_count'] = df['hashtags'].apply(lambda x: len(x.split()) if x != '' else 0)

In [22]:
num_cols = ['views', 'likes', 'comments', 'shares']

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].fillna(0)
    df[col] = df[col].clip(lower=0)

In [23]:
df['engagement_rate'] = (
    df['likes'] + df['comments'] + df['shares']
) / df['views'].replace(0, np.nan)

df['engagement_rate'] = df['engagement_rate'].fillna(0)

In [25]:
df['sentiment_score'] = pd.to_numeric(df['sentiment_score'], errors='coerce')
df['sentiment_score'] = df['sentiment_score'].clip(-1, 1)
df['sentiment_score'] = df['sentiment_score'].fillna(0)

In [26]:
df = df.dropna(subset=['is_viral'])
df['is_viral'] = df['is_viral'].astype(int)

In [27]:
df.isnull().sum()

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
sentiment_score    0
is_viral           0
post_year          0
post_month         0
post_day           0
post_hour          0
hashtag            0
hashtag_count      0
dtype: int64

In [28]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,...,shares,engagement_rate,sentiment_score,is_viral,post_year,post_month,post_day,post_hour,hashtag,hashtag_count
0,SM_100000,instagram,text,sports,ur,uk,2024-12-10,#tech #funny #music,2319102,122058,...,861,0.059816,0.464,1,2024,12,10,0,#tech #funny #music,3
1,SM_100001,instagram,carousel,sports,ur,brazil,2024-10-13,#news #fyp #funny #ai #trending,2538464,110368,...,54887,0.069548,-0.800,1,2024,10,13,0,#news #fyp #funny #ai #trending,5
2,SM_100002,youtube shorts,video,technology,ur,uk,2024-05-03,#ai #news,1051176,87598,...,44132,0.170215,0.416,0,2024,5,3,0,#ai #news,2
3,SM_100003,x,text,politics,ur,us,2024-08-04,#ai #funny,5271440,329465,...,59736,0.073979,0.877,1,2024,8,4,0,#ai #funny,2
4,SM_100004,youtube shorts,text,education,es,us,2024-03-28,#news #ai #viral #funny #fyp,3186256,199141,...,83105,0.090251,0.223,1,2024,3,28,0,#news #ai #viral #funny #fyp,5

In [29]:
df['platform'] = df['platform'].replace({
    'youtube shorts': 'youtube_shorts'
})

In [30]:
df['region'] = df['region'].replace({
    'uk': 'united_kingdom',
    'us': 'united_states'
})

In [31]:
df = df.drop(columns=['hashtag'])

In [32]:
df['hashtags'] = df['hashtags'].apply(
    lambda x: [tag.replace('#', '') for tag in x.split()]
)

In [33]:
df['engagement_rate'] = df['engagement_rate'].clip(0, 1)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   post_id          2000 non-null   object
 1   platform         2000 non-null   object
 2   content_type     2000 non-null   object
 3   topic            2000 non-null   object
 4   language         2000 non-null   object
 5   region           2000 non-null   object
 6   post_datetime    2000 non-null   datetime64[ns]
 7   hashtags         2000 non-null   object
 8   views            2000 non-null   int64
 9   likes            2000 non-null   int64
 10  comments         2000 non-null   int64
 11  shares           2000 non-null   int64
 12  engagement_rate  2000 non-null   float64
 13  sentiment_score  2000 non-null   float64
 14  is_viral         2000 non-null   int64
 15  post_year        2000 non-null   int32
 16  post_month       2000 non-null   int32
 17  post_day         2000 non-null   int32
 18  post_hour        2000 non-null   int32
 19  hashtag_count    2000 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(4), int64(6), object(7)
memory usage: 281.4+ KB

In [35]:
int_cols = ['views', 'likes', 'comments', 'shares', 'is_viral']
df[int_cols] = df[int_cols].astype(int)

In [36]:
df.to_csv("cleaned_social_media_data.csv", index=False)

In [37]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral,post_year,post_month,post_day,post_hour,hashtag_count
0,SM_100000,instagram,text,sports,ur,united_kingdom,2024-12-10,"[tech, funny, music]",2319102,122058,15800,861,0.059816,0.464,1,2024,12,10,0,3
1,SM_100001,instagram,carousel,sports,ur,brazil,2024-10-13,"[news, fyp, funny, ai, trending]",2538464,110368,11289,54887,0.069548,-0.800,1,2024,10,13,0,5
2,SM_100002,youtube_shorts,video,technology,ur,united_kingdom,2024-05-03,"[ai, news]",1051176,87598,47196,44132,0.170215,0.416,0,2024,5,3,0,2
3,SM_100003,x,text,politics,ur,united_states,2024-08-04,"[ai, funny]",5271440,329465,774,59736,0.073979,0.877,1,2024,8,4,0,2
4,SM_100004,youtube_shorts,text,education,es,united_states,2024-03-28,"[news, ai, viral, funny, fyp]",3186256,199141,5316,83105,0.090251,0.223,1,2024,3,28,0,5

In [38]:
df['total_engagement'] = df['likes'] + df['comments'] + df['shares']

In [39]:
df['engagement_per_1k_views'] = (df['total_engagement'] / df['views']) * 1000

In [40]:
df['sentiment_label'] = df['sentiment_score'].apply(
    lambda x: 'positive' if x > 0.2 else 'negative' if x < -0.2 else 'neutral'
)

In [41]:
df_ml = pd.get_dummies(
    df,
    columns=['platform', 'content_type', 'topic', 'language', 'region'],
    drop_first=True
)

In [42]:
df.to_csv("cleaned_social_media_posts.csv", index=False)

In [43]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,...,sentiment_score,is_viral,post_year,post_month,post_day,post_hour,hashtag_count,total_engagement,engagement_per_1k_views,sentiment_label
0,SM_100000,instagram,text,sports,ur,united_kingdom,2024-12-10,"[tech, funny, music]",2319102,122058,...,0.464,1,2024,12,10,0,3,138719,59.815825,positive
1,SM_100001,instagram,carousel,sports,ur,brazil,2024-10-13,"[news, fyp, funny, ai, trending]",2538464,110368,...,-0.800,1,2024,10,13,0,5,176544,69.547569,negative
2,SM_100002,youtube_shorts,video,technology,ur,united_kingdom,2024-05-03,"[ai, news]",1051176,87598,...,0.416,0,2024,5,3,0,2,178926,170.215073,positive
3,SM_100003,x,text,politics,ur,united_states,2024-08-04,"[ai, funny]",5271440,329465,...,0.877,1,2024,8,4,0,2,389975,73.978837,positive
4,SM_100004,youtube_shorts,text,education,es,united_states,2024-03-28,"[news, ai, viral, funny, fyp]",3186256,199141,...,0.223,1,2024,3,28,0,5,287562,90.250752,positive

In [44]:
df.dtypes

post_id                            object
platform                           object
content_type                       object
topic                              object
language                           object
region                             object
post_datetime              datetime64[ns]
hashtags                           object
views                               int64
likes                               int64
comments                            int64
shares                              int64
engagement_rate                   float64
sentiment_score                   float64
is_viral                            int64
post_year                           int32
post_month                          int32
post_day                            int32
post_hour                           int32
hashtag_count                       int64
total_engagement                    int64
engagement_per_1k_views           float64
sentiment_label                    object
dtype: object

In [45]:
df['is_viral'].value_counts(normalize=True)

is_viral
1    0.699
0    0.301
Name: proportion, dtype: float64

In [46]:
df[['views', 'engagement_per_1k_views']].describe()

              views  engagement_per_1k_views
count  2.000000e+03              2000.000000
mean   4.284860e+06               157.852692
std    3.246193e+06               535.458134
min    4.380000e+03                35.700462
25%    1.652742e+06                57.954435
50%    3.469408e+06                84.485862
75%    6.348078e+06               142.534170
max    1.437179e+07             12573.238095

In [47]:
df.to_csv("final_social_media_analytics_dataset.csv", index=False)

In [48]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,...,sentiment_score,is_viral,post_year,post_month,post_day,post_hour,hashtag_count,total_engagement,engagement_per_1k_views,sentiment_label
0,SM_100000,instagram,text,sports,ur,united_kingdom,2024-12-10,"[tech, funny, music]",2319102,122058,...,0.464,1,2024,12,10,0,3,138719,59.815825,positive
1,SM_100001,instagram,carousel,sports,ur,brazil,2024-10-13,"[news, fyp, funny, ai, trending]",2538464,110368,...,-0.800,1,2024,10,13,0,5,176544,69.547569,negative
2,SM_100002,youtube_shorts,video,technology,ur,united_kingdom,2024-05-03,"[ai, news]",1051176,87598,...,0.416,0,2024,5,3,0,2,178926,170.215073,positive
3,SM_100003,x,text,politics,ur,united_states,2024-08-04,"[ai, funny]",5271440,329465,...,0.877,1,2024,8,4,0,2,389975,73.978837,positive
4,SM_100004,youtube_shorts,text,education,es,united_states,2024-03-28,"[news, ai, viral, funny, fyp]",3186256,199141,...,0.223,1,2024,3,28,0,5,287562,90.250752,positive

In [49]:
df = df.rename(columns={'vpost_id': 'post_id'})

In [50]:
df['post_id'].is_unique

True

In [52]:
import psycopg2

In [53]:
conn = psycopg2.connect(
    host="localhost",
    database="raw",
    user="postgres",
    password="Camlin@02",
    port=5432
)

In [54]:
cursor = conn.cursor()
cursor.execute("SELECT version();")
print(cursor.fetchone())

('PostgreSQL 18.1 on x86_64-windows, compiled by msvc-19.44.35221, 64-bit',)

In [60]:
import pandas as pd
import psycopg2

df = pd.read_csv(r"C:\Users\srush\OneDrive\Documents\final_social_media_analytics_dataset.csv")

conn = psycopg2.connect(
    host="localhost",
    database="raw",
    user="postgres",
    password="Camlin@02",
    port=5432
)
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS social_media_posts (
    post_id VARCHAR(50) PRIMARY KEY,
    platform VARCHAR(50),
    content_type VARCHAR(50),
    topic VARCHAR(50),
    language VARCHAR(10),
    region VARCHAR(100),
    post_datetime DATE,
    hashtags TEXT,
    views BIGINT,
    likes BIGINT,
    comments BIGINT,
    shares BIGINT,
    engagement_rate FLOAT,
    sentiment_score FLOAT,
    is_viral INT,
    post_year INT,
    post_month INT,
    post_day INT,
    post_hour INT,
    hashtag_count INT,
    total_engagement BIGINT,
    engagement_per_1k_views FLOAT,
    sentiment_label VARCHAR(20)
);
""")
conn.commit()

for i, row in df.iterrows():
    cur.execute("""
    INSERT INTO social_media_posts VALUES (
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
    )
    ON CONFLICT (post_id) DO NOTHING;
    """, tuple(row))

conn.commit()
cur.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [61]:
import pandas as pd
import psycopg2

df = pd.read_csv(r"C:\Users\srush\OneDrive\Documents\final_social_media_analytics_dataset.csv")

conn = psycopg2.connect(
    host="localhost",
    database="raw",
    user="postgres",
    password="Camlin@02",
    port=5432
)

cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS social_media_posts (
    post_id VARCHAR(50) PRIMARY KEY,
    platform VARCHAR(50),
    content_type VARCHAR(50),
    topic VARCHAR(50),
    language VARCHAR(10),
    region VARCHAR(100),
    post_datetime DATE,
    hashtags TEXT,
    views BIGINT,
    likes BIGINT,
    comments BIGINT,
    shares BIGINT,
    engagement_rate FLOAT,
    sentiment_score FLOAT,
    is_viral INT,
    post_year INT,
    post_month INT,
    post_day INT,
    post_hour INT,
    hashtag_count INT,
    total_engagement BIGINT,
    engagement_per_1k_views FLOAT,
    sentiment_label VARCHAR(20)
);
""")

conn.commit()

for i, row in df.iterrows():
    cur.execute("""
    INSERT INTO social_media_posts VALUES (
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
    )
    ON CONFLICT (post_id) DO NOTHING;
    """, tuple(row))

conn.commit()

cur.close()
conn.close()

print("Data uploaded successfully!")

Data uploaded successfully!

In [63]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv(r"C:\Users\srush\OneDrive\Documents\final_social_media_analytics_dataset.csv")

engine = create_engine("postgresql+psycopg2://postgres:Camlin%4002@localhost:5432/raw")

df.to_sql("social_media_posts", engine, if_exists="replace", index=False)

1000

In [64]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv(r"C:\Users\srush\OneDrive\Documents\final_social_media_analytics_dataset.csv", nrows=1000)

In [65]:
engine = create_engine("postgresql+psycopg2://postgres:Camlin%4002@localhost:5432/raw")

df.to_sql("social_media_posts", engine, if_exists="replace", index=False)

1000